.popup {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
}
