.element-grid__title {
  max-width: 190px;
  margin: 23px 0 24px 21px;
  padding: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
