.profile__info {
  display: flex;
  flex-wrap: wrap;
  max-width: 336px;
  margin: 22px 244px 25px 0;

  color: #fff;
}

@media screen and (max-width: 767px) {
  .profile__info {
    align-items: center;
    max-width: 282px;
    margin: 26px 0 36px;
  }
}
