.card__like {
  height: 19px;
  width: 22px;
  margin: 0 20px;
  padding: 0;
  background: no-repeat center url(../../../images/edit-like.svg);
  background-size: 100%;
  background-color: #fff;
  border: none;
  cursor: pointer;
  transition: opacity .5s linear;
}

.card__like:hover {
  opacity: .5;
}
