.profile__info-subtitle {
  max-width: 336px;
  margin: 0;
  padding: 0;
  margin-top: 9px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .profile__info-subtitle {
    max-width: 282px;
    margin: 9px auto 0;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
  }
}
